:root {
  --font-body: "Albert Sans", sans-serif;

  --background-color: #f8f5f4;
  --text: #f3f3f3;
  --secondary: #1e1e1e;
  --nav-surface: #ffffff;
  --border: color-mix(in srgb, var(--text), transparent 85%);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background: var(--background-color);
  color: var(--text);
  font-weight: 300;
}

p {
    color: var(--secondary);
}