:root {
  --font-body: "Albert Sans", sans-serif;
  --accent: #c2f58b;
  --background-color: #fefefe;
  --text: #f8f8f8;
  --secondary: #000000;
  --nav-surface: #fefefe;
  --pill-bg: url("/assets/images/MXHERO.webp");
  --border: color-mix(in srgb, var(--text), transparent 85%);
}

body {
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg,
video,
canvas,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}
.bold {
  font-weight: 700;
  color: inherit;
}
