:root {
  --accent: #ff3eb2;
  --accent-hover: #ffa5db;
}

.page-hero__title {
  color: var(--text);
}

@media (min-width: 1367px) {
  .page-hero__content {
    justify-items: center;
    text-align: center;
  }

  .page-hero__title,
  .page-hero__sub {
    text-align: center;
  }
}
