:root {
  --accent: #ff3eb2;
  --accent-hover: #ffa5db;
}

.page-hero__title {
  color: var(--text);
  text-align: center;
}

.page-hero__content {
  justify-items: center;
  text-align: center;
}

.page-hero__sub {
  text-align: center;
}
